<section class="content">
    <div id="dvLoader" class="LoadingDiv" style="display: none;">
        <center>
            <img src="~/Content/img/ajax-loader.gif" alt="Loading" />
        </center>
    </div>
    <div class="row">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Expense Info</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#firstTab">Index</a></li>
                    <li><a data-toggle="tab" href="#secondTab">Add New</a></li>
                </ul>
                <div class="tab-content">
                    <div id="firstTab" class="tab-pane fade in active">@Html.Action("Expenses")</div>
                    <div id="secondTab" class="tab-pane fade in">@Html.Action("AddExpense")</div>
                </div>
            </div>
        </div>
        <!-- /.box -->
        <!-- /.col -->

    </div>
</section>
@section Scripts{
    <script>
        $(document).ready(function () {
            //add new buyer
            //LoadSessionData();
            $('#btnSave').click(function () {
                var date = $('#txtDate').val();
                var expenseType = $('#txtExpense').val();
                var amount = $('#txtAmount').val();
                $('#dvLoader').show();
                $.ajax({
                    url: "/InventoryData/AddExpense",
                    type: "POST",
                    data: JSON.stringify({
                        "ExpenseDate": date,
                        "ExpenseNameId": expenseType,
                        "Payment": amount
                    }),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function () {
                        $('#dvLoader').hide();
                        Clear();
                    }
                });

            });
        });
        function Clear() {
            $('#txtDate').val('');
            $('#txtExpense').val('');
            $('#txtAmount').val('');
        }
    </script>
}