<section class="content">
    <div id="dvLoader" class="LoadingDiv" style="display: none;">
        <center>
            <img src="~/Content/img/ajax-loader.gif" alt="Loading" />
        </center>
    </div>
    <div class="row">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Purchase Return Invoice</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#firstTab">Index</a></li>
                    <li><a data-toggle="tab" href="#secondTab">Add New</a></li>
                </ul>
                <div class="tab-content">
                    <div id="firstTab" class="tab-pane fade in active">@Html.Action("PurchaseReturnInvoices")</div>
                    <div id="secondTab" class="tab-pane fade in">@Html.Action("AddPurchaseReturnInvoice")</div>
                </div>
            </div>
        </div>
        <!-- /.box -->
        <!-- /.col -->

    </div>
</section>

@section scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            LoadSessionData();
            $('#btnAdd').click(function () {
                var date = $('#txtDate').val();
                var buyerId = $('#txtBuyerID').val();
                var productId = $('#txtProduct').val();
                var price = $('#txtPrice').val();
                var quantity = $('#txtQuantity').val();
                var code = $('#txtInvoiceCode').val();
                var due = $('#txtDuePayment').val();
                $('#dvLoader').show();
                $.ajax({
                    url: "/InventoryData/AddSessionInvoice",
                    type: "POST",
                    data: JSON.stringify({
                        "Date": date,
                        "BuyerID": buyerId,
                        "ProductID": productId,
                        "UnitPrice": price,
                        "Quantity": quantity,
                        "Code": code,
                        "DuePayment": due,
                    }),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function () {
                        LoadSessionData();
                        $('#dvLoader').hide();
                        Clear();
                    }
                });

            });
            $('#btnContinue').click(function () {
                var cash = $('#txtCash').val();
                var des = $('#txtDes').val();
                var dis = $('#txtDiscount').val();
                var due = $('#txtGrandTotal').val();
                var buyerId = $('#txtBuyerID').val();
                var code = $('#txtInvoiceCode').val();
                $('#dvLoader').show();
                $.ajax({
                    url: "/InventoryData/AddPurchaseReturnInvoice",
                    type: "POST",
                    data: JSON.stringify({
                        "CashPayment": cash,
                        "Description": des,
                        "Discount":dis,
                        "DuePayment": due,
                        "BuyerID": buyerId,
                        "Code": code,
                    }),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function () {
                        CashDesClear();
                        LoadSessionData();
                        $('#dvLoader').hide();
                    }
                });

            });
            $('#btnClear').click(function () {
                $('#dvLoader').show();
                var result = confirm("Are you sure you want to delete this invoice?");
                if (result) {
                    $.ajax({
                        url: "/InventoryData/ClearSession",
                        type: "POST",
                        success: function () {
                            $('#dvLoader').hide();
                            CashDesClear();
                            Clear();
                            LoadSessionData();
                        }
                    });
                }

            });
            $('#txtCash').keyup(function () {
                loadPrice();
                
            });

            $(document).on('click', '.ClearById', function (event) {
                event.preventDefault();
                var product_id = $(this).attr('href');
                $('#dvLoader').show();
                var result = confirm("Are you sure you want to delete this Record?");
                if (result) {
                    $.ajax({
                        url: "/InventoryData/ClearById",
                        type: "POST",
                        data: JSON.stringify({
                            "id": product_id
                        }),
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        success: function () {
                            LoadSessionData();
                            $('#dvLoader').hide();

                        }
                    });
                }
            });

        });

        function Clear() {
            $('#txtProduct').val('');
            $('#txtPrice').val('');
            $('#txtQuantity').val('');
        }
        function CashDesClear() {
            $('#txtCash').val('');
            $('#txtDes').val('');
            $('#txtDiscount').val('');
            $('#txtDuePayment').val('');
        }
        function loadPrice() {
            var grandTotal = $('#txtGrandTotal').val();
            var CalCash = $('#txtCash').val();
            var total = grandTotal - CalCash;
            $('#txtDuePayment').val(total);

        }
        function LoadSessionData()
        {
            $.ajax({
                url: "/InventoryData/SessionInvoices",
                type: "GET",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    var products = data.ResponseSessions;
                    var tr = "";
                    var total_price = 0;
                    products.forEach(function (product) {
                        tr += '<tr>';
                        tr += '<td>' + product.Serial + '</td>';
                        tr += '<td>' + product.ProductName + '</td>';
                        tr += '<td>' + product.Quantity + '</td>';
                        tr += '<td>' + product.Price + '</td>';
                        tr += '<td>' + product.TotalPrice + '</td>';
                        tr += '<td><a class="ClearById" href="'+product.SessionInvoiceId+'"><i class="fa fa-trash"></i></a></td>';
                        tr += '</tr>';
                        total_price += product.TotalPrice;
                    });
                    $("#txtGrandTotal").val(total_price);                    
                    $("#txtDiscount").val(0);
                    $("#tBody").html(tr);
                    $('#dvLoader').hide();
                    Clear();
                }
            });
        }

    </script>

}