<section class="content">
    <div id="dvLoader" class="LoadingDiv" style="display: none;">
        <center>
            <img src="~/Content/img/ajax-loader.gif" alt="Loading" />
        </center>
    </div>
    <div class="row">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Supplier Info</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#firstTab">Index</a></li>
                    <li><a data-toggle="tab" href="#secondTab">Add New</a></li>
                </ul>
                <div class="tab-content">
                    <div id="firstTab" class="tab-pane fade in active">@Html.Action("Suppliers")</div>
                    <div id="secondTab" class="tab-pane fade in">@Html.Action("AddSupplier")</div>
                </div>
            </div>
        </div>
        <!-- /.box -->
        <!-- /.col -->

    </div>
</section>
@section Scripts{
    <script>
        $(document).ready(function () {
            //add new buyer
            //LoadSessionData();
            $('#btnSave').click(function () {
                var name = $('#txtName').val();
                var address = $('#txtAddress').val();
                var mobileNumber = $('#txtMobileNumber').val();
                var altMobileNumber = $('#txtAltMobileNumber').val();
                var buyerBalance = $('#txtBuyerBalance').val();
                var description = $('#txtDescription').val();
                $('#dvLoader').show();
                $.ajax({
                    url: "/InventoryData/AddSupplier",
                    type: "POST",
                    data: JSON.stringify({
                        "SupplierName": name,
                        "SupplierAddress": address,
                        "SupplierBalance": buyerBalance,
                        "MobileNumber": mobileNumber,
                        "AlternateMobileNumber": altMobileNumber,
                        "Description": description
                    }),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (json) {
                            if (json.isRedirect) {
                            window.location.href = json.redirectUrl;
                            }
                        //$('#firstTab').reload();
                        //LoadSessionData()
                        $('#dvLoader').hide();
                        Clear();
                    }
                });

            });
            //end add new buyer

            $('#btnClear').click(function () {
                Clear();
            });
        });
        function Clear() {
            $('#txtName').val('');
            $('#txtAddress').val('');
            $('#txtMobileNumber').val('');
            $('#txtAltMobileNumber').val('');
            $('#txtBuyerBalance').val('');
            $('#txtDescription').val('');
        }

        function Delete(id) {
            //alert(id);
            var ans = confirm("Are you sure want to delete this record test");
            if (ans) {
                $('#dvLoader').show();
                $.ajax({
                    url: "/InventoryData/DeleteBuyer",
                    type: "POST",
                    data: JSON.stringify({
                        "id": id
                    }),
                    contentType: "application/json;charset=UTF-8",
                    dataType: "json",
                    success: function () {
                        $('#firstTab').reload();
                        $('#dvLoader').hide();
                    },
                });
            }
        }
        function LoadSessionData() {
            $.ajax({
                url: "/InventoryData/NewBuyers",
                type: "GET",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    var products = data.ResponseSessions;
                    console.log(products);
                    var tr = "";
                    products.forEach(function (product) {
                        tr += '<tr>';
                        tr += '<td>' + product.Serial + '</td>';
                        tr += '<td>' + product.BuyerName + '</td>';
                        tr += '<td>' + product.BuyerAddress + '</td>';
                        tr += '<td>' + product.MobileNumber + '</td>';
                        tr += '<td>' + product.AlternateMobileNumber + '</td>';
                        tr += '<td>' + product.BuyerBalance + '</td>';
                        //tr += '<td><a class="ClearById" href="' + product.BuyerID + '"><i class="fa fa-trash"></i></a></td>';
                        tr += '</tr>';
                    });
                    $("#tBody").html(tr);
                    $('#dvLoader').hide();
                }
            });
        }
    </script>
}