<section class="content">
    <div id="dvLoader" class="LoadingDiv" style="display: none;">
        <center>
            <img src="~/Content/img/ajax-loader.gif" alt="Loading" />
        </center>
    </div>
    <div class="row">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Buyer Payment Info</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#firstTab">Index</a></li>
                    <li><a data-toggle="tab" href="#secondTab">Add New</a></li>
                </ul>
                <div class="tab-content">
                    <div id="firstTab" class="tab-pane fade in active">@Html.Action("SupplierPayments")</div>
                    <div id="secondTab" class="tab-pane fade in">@Html.Action("AddSupplierPayment")</div>
                </div>
            </div>
        </div>
        <!-- /.box -->
        <!-- /.col -->

    </div>
</section>
@section Scripts{
    <script>
        $(document).ready(function () {
            //add new buyer
            //LoadSessionData();
            $('#btnSave').click(function () {
                var date = $('#txtDate').val();
                var buyer = $('#txtBuyer').val();
                var amount = $('#txtAmount').val();
                var des = $('#txtDes').val();
                $('#dvLoader').show();
                $.ajax({
                    url: "/InventoryData/AddSupplierPayment",
                    type: "POST",
                    data: JSON.stringify({
                        "PaymentDate": date,
                        "SupplierID": buyer,
                        "PaymentAmount": amount,
                        "PaymentAmount": des
                    }),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function () {
                        //$('#firstTab').reload();
                        $('#dvLoader').hide();
                        Clear();
                    }
                });

            });
            //end add new buyer

            $('#btnClear').click(function () {
                Clear();
            });
        });
        function Clear() {
            $('#txtBuyer').val('');
            $('#txtAmount').val('');
            $('#txtDes').val('');
        }

        function Delete(id) {
            //alert(id);
            var ans = confirm("Are you sure want to delete this record test");
            if (ans) {
                $('#dvLoader').show();
                $.ajax({
                    url: "/InventoryData/DeleteBuyer",
                    type: "POST",
                    data: JSON.stringify({
                        "id": id
                    }),
                    contentType: "application/json;charset=UTF-8",
                    dataType: "json",
                    success: function () {
                        $('#firstTab').reload();
                        $('#dvLoader').hide();
                    },
                });
            }
        }
    </script>
}

